.square-item {
    background: linear-gradient(45deg, rgb(172, 167, 200) 0%, rgb(5, 105, 235), rgb(216, 4, 227));
}

.square-item:not(.mine-square, .safe-square):hover {
    background: linear-gradient(140deg, rgb(172, 167, 200) 0%, rgb(5, 105, 235), rgb(216, 4, 227));
    border-radius: 1rem;
    cursor: pointer;
  }

.mine-square {
    background: red;
}

.safe-square {
    background: yellow;
}